<p style="color: green"><%= notice %></p>

<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('defaults.show'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('.new'), new_book_path %>
